// COLOUR PALETTE

$white: #fff; // White
$black: #171717; // Black
$yellow: #FFCB3E;
$yellow_hover: #FCBE19;
$lightgrey: #B9B9B9;
$grey: #54585A;
$darkgrey: #3B3B3B;
$header_white: #F2F2F2;
$red: #F7726C;